.recipe-card-desc{
    display:flex;
    flex-flow:row;
    justify-content:center;


    div {
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 1rem;
	flex: 1 1 auto;

	&:hover{
	    background:#F8BBD0;
	    color:#455A64;
	}
    }

    .title {
	font-size: 1.25rem;
    }

    span.fa:not(.fa-heart-o){
	margin-right: 0.25rem;
    }
}

