.payment-card-date {
  z-index: 10;

  display: flex;
  flex-flow: column;

  color: #ecf0f1;

  .valid-date {
    padding-left: 6.5rem;

    text-transform: uppercase;

    font-size: 10px;
    font-weight: bold;
  }

  .to-date {
    padding-left: 6.5rem;

    text-shadow: 0px 1px 3px rgba(#2c3e50, 0.7);

    font-family: 'OCR A Std';
    font-size: 14px;
  }
}
