.news-header{
  bottom: 0;
  flex-flow: row;
  color: #FAFAFA;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  div{
    display: flex;
    flex-flow: row;
    align-items: center;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title{
    padding-bottom: 0.75rem;
    display: block;
    justify-content: center;
    font-size: 1.5rem;
  }

  .bottom{
    justify-content: space-between;
  }

  .tags {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.25rem;

    .tag {
      margin: 0 0.5rem;
      padding: 0.25rem 0.75rem;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: 2rem;
    }
  }
}
