.news-header{
  font-family:Verdana, sans-serif;
  bottom: 0;
  flex-flow: row;
  color: #dff9fb;
  width: 100%;
  
  div{
    display: flex;
    flex-flow: row;
    align-items: center;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &.author{
      margin-right: 0.25rem;
    }
  }

  .title{
    display: block;
    justify-content: center;
    font-size: 1.5rem;
  }

}
