.news-header{
  bottom: 0;
  flex-flow: row;
  color: #FAFAFA;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  div{
    display: flex;
    flex-flow: row;
    align-items: center;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title{
    padding-bottom: 0.75rem;
    display: block;
    justify-content: center;
    font-size: 1.5rem;
  }

  .bottom{
    justify-content: space-between;
  }
}
