.dropdown-card {
  display: flex;
  margin-bottom: 10rem;



  .button{
    display: flex;
    background-color: pink;
    border-style: none;
    width: 100%;
    justify-content: space-evenly;
    transition: 0.4s;
    
    &:hover{
      transform: scale(0.9);
    }
  }
}
