.dropdown-card {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10rem;

  .togg{
    background-color: teal;
    width: 100%;
//    height: 5rem;
  }
}
