.dropdown-card {
  display: flex;
  margin-bottom: 10rem;
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  
  .button {
    display: flex;
    border-style: none;
    width: 100%;
    transition: .4s;
    
    &:hover {
      transform: scale(1.1);
      border-radius: 50px;
    }
  } 
}
