.payment-card {
  .chip {
    position: absolute;
    border-radius: 0.5rem;
    width: 3rem;
    height: 2.25rem;
    background: linear-gradient(135deg, #ffb347, #ffcc33);
    border: 2px solid rgba(#2c3e50, 0.2);
    top: 32%;
    left: 10%;
    z-index: 10;
  }
}
