.gallery-toggle {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2rem;
  transition: 0.25s;
  color: rgba(#ecf0f1, 0.5);
  background-color: rgba(#2c3e50, 0.5);
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
