.payment-card-back {
  position: relative;

  display: flex;
  flex-flow: column;

  width: 100%;
  height: 100%;

  .magnetic-stripe {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;

    background: #2c3e50;
  }

  .signature-field {
    display: flex;
    align-items: flex-end;
    flex-flow: row;
    justify-content: flex-end;

    height: 2rem;
    margin-top: 0.5rem;
    margin-right: 6rem;
    margin-left: 0.5rem;

    background-image: repeating-linear-gradient(180deg, #f1c40f, #f1c40f 3px, #ecf0f1 3px, #ecf0f1 6px);
  }

  .cvv {
    color: #2c3e50;

    font-family: 'OCR A Std';
  }
}
