.news-header-background{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.0) 100%);
    pointer-events : none;
    z-index: 10;
  }

  .thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.4s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.75;
    }
  }

  div{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
