.payment-card-name {
  color: #ecf0f1;
  z-index: 10;
  font-family: 'OCR A Std';
  text-transform: uppercase;
  text-shadow: 0px 1px 3px rgba(#2c3e50, 0.7);
  margin-left: 1.3rem;
  margin-top: 0.5rem;
  font-size: 14px;
}
