.payment-card-number {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;

  letter-spacing: 0.4px;

  color: #ecf0f1;

  font-family: 'OCR A Std';
  font-size: 21px;
  opacity: 0.85;
  text-shadow: 0px 1px 3px rgba(#2c3e50, 0.7);
}
